# TensorFlow dengan GPU support (untuk WSL2/Linux)
tensorflow==2.16.1
keras==3.2.0

# Image processing
opencv-python==4.10.0
imagehash==4.3.1
Pillow==10.3.0
matplotlib==3.9.0
numpy==1.26.4

# Utilities
tqdm==4.66.4
pathlib==1.0.1